<div class="bg-light lter b-b wrapper-md">
  <span class="m-l h3">新增/修改培训机构</span>
  <!--</a>-->
</div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="form-group">
        <div class="panel panel-default">
            <label for="companyName" class="m-l">培训机构名：</label>
            <input type="text" id="companyName" class="form-control" ng-model="queryParam.companyName">
            <label for="companyPlace" class="m-l">培训机构地址：</label>
            <input type="text" id="companyPlace" class="form-control" ng-model="queryParam.companyPlace">
        </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" ng-click="btnSaveClick()">确认</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">返回</button>
          </div>
        </div>
  </div>
</div>
  </div>
</div>
